<div>
  <h1>
    CO2nscious
  </h1>

  <footprint-chart/>
  <nutrition-chart/>
  <nutrition-alt-chart />
  <transportation-chart/>

  <body>- Long distance transportation Paris - New York: Plane in e.g. Coffees or years of recycling</body>
  <body>- Medium distance transportation Paris - Berlin: Plane vs Train vs Bus vs Car</body>
  <body>- Short distance transportation 10km: comparison</body>
  <body>- Heating, oil vs gas vs heat pump vs wood vs electric</body>
  <body>- Food: full dishes vs ingredients, normalize per kJ?</body>
  <body>- Food: production vs packaging vs transportation</body>
  <body>- Stimulants: coffee vs tea vs alcohol vs ...</body>
</div>
